{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy", {branch, "master"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy", {tag, "0.13.3"}}},
    {uuid, {git, "https://github.com/okeuday/uuid", {tag, "v1.3.3"}}},
    {gproc, {git, "https://github.com/uwiger/gproc", {branch, "master"}}},
    {lager, {git, "https://github.com/basho/lager", {tag, "2.1.0"}}}
]}.

{relx, [{release, { tic_tac_toe, "0.1.0" },
         [tic_tac_toe,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
    {prod, [{relx, [{dev_mode, false}]}] }
]}.
